/*
 * 2024-10-28
 * https://github.com/musinsky/config/blob/master/MediaWiki/webfiles.css
 *
 * /opt/webfiles/webfiles.css   (644, root:root)
 */

body {
    background-color: #fafafa;
}

table {
    font-family: monospace;
}

td.indexcollastmod {
    padding-left: 2em;
    padding-right: 2em;
}

tr.odd {
    background-color: #eaeaea;
}
