# $HOME/.local/share/applications/eclipse.desktop
# /usr/local/share/applications/eclipse.desktop

[Desktop Entry]
Name=Eclipse CDT
Comment=Eclipse IDE for C/C++ Developers
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon
Type=Application
Categories=Development;IDE;
