
/* customized window-list@gnome-shell-extensions.gcampax.github.com */

.bottom-panel {
    height: 24px;
}

.window-list {
    font-size: 9pt;
}

.window-list-workspace-indicator > StWidget {
    border: none;
    border-radius: 4px;
}

.window-button-icon {
    width: 18px;
    height: 18px;
}
