/* Extension
   name: Frippery Bottom Panel
   uuid: Bottom_Panel@rmy.pobox.com */

/*
   $ sed -i 's/\x27-\x27/\x27 \x27/g' ~/.local/share/gnome-shell/extensions/Bottom_Panel@rmy.pobox.com/extension.js
   $ wget -O - https://raw.githubusercontent.com/musinsky/config/master/GNOME/extension-fbp.css >> ~/.local/share/gnome-shell/extensions/Bottom_Panel@rmy.pobox.com/stylesheet.css
*/

#bottomPanel {
    padding-top: 1px;        /* no padding-top */
    font-size: 9pt;          /* 10.5pt */
}

.workspace-switcher {
    spacing: 0px;            /* 6px */
}

.workspace-button {
    border-radius: 5px;      /* no border-radius */
    border: 0px;             /* 1px */
}

.workspace-button:outlined {
    border: 0px;             /* 2px solid white */
}
