@import url("/usr/share/gnome-shell/theme/gnome-shell.css");
/* customizing GNOME Shell for desktop interface
   with fonts size 9pt (instead default 11pt size) */


/* Text Styles */
/* default text style */
stage {
    font-size: 9pt;          /* 11pt */
}

/* Panel */
/* used for the app menu header only */
.panel-button {
    -natural-hpadding: 4px;  /* 12px */
    -minimum-hpadding: 3px;  /*  6px */
}

/* Message Tray */
#message-tray {
    height: 48px;            /* 72px */
}

.message-tray-summary {
    height: 48px;            /* 72px */
}

.no-messages-label {
    font-size: 9pt;          /* 11pt */
}

.notification, #notification-container {
    font-size: 9pt;          /* 11pt */
}

/* Calendar popup */
.calendar-month-label {
    font-size: 8pt;          /* 9.5pt */
}

.calendar-day-base {
    font-size: 7.5pt;        /* 9pt */
}

.calendar-day-base:active {
    font-size: 7.5pt;        /* 9pt */
}
